<div id="anuencias" class="page-layout carded fullwidth inner-scroll">

        <!-- TOP BACKGROUND -->
        <div class="top-bg accent"></div>
        <!-- / TOP BACKGROUND -->
    
        <!-- CENTER -->
        <div class="center">
    
            <!-- HEADER -->
            <div class="header accent"
                 fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
    
                <!-- APP TITLE -->
                <div class="logo mb-24 mb-md-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        assignment
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Anuências
                    </span>
                </div>
                <!-- / APP TITLE -->
    
            </div>
            <!-- / HEADER -->
    
            <!-- CONTENT CARD -->

            <ng-container [ngSwitch]="situacao">
    
                <ng-container *ngSwitchCase="'novas'">
                    <ng-container *ngTemplateOutlet="novas"></ng-container>
                </ng-container>
                
                <!-- <ng-container *ngSwitchCase="'Recebidas'">
                    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
                </ng-container>
                
                <ng-container *ngSwitchCase="'Aceitas'">
                    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
                </ng-container>
                
                <ng-container *ngSwitchCase="'Rejeitadas'">
                    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
                </ng-container>
                
                <ng-container *ngSwitchCase="'Pagas'">
                    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
                </ng-container>
                
                <ng-container *ngSwitchCase="'Canceladas'">
                    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
                </ng-container> -->
                
                <ng-container *ngSwitchDefault>
                    <ng-container *ngTemplateOutlet="todas"></ng-container>
                </ng-container>
            
            </ng-container>
            <!-- / CONTENT CARD -->
            
        </div>
        <!-- / CENTER -->
</div>
    
<ng-template #todas>
    <anuencias-listas class="content-card"></anuencias-listas>
</ng-template>
    
<ng-template #novas>
    <anuencias-listas-novas class="content-card"></anuencias-listas-novas>
</ng-template>

