<div class="theme-options-panel" fusePerfectScrollbar>

    <div class="header">

        <span class="title">Opções de personalização</span>

        <button mat-icon-button class="close-button" (click)="toggleSidebarOpen('themeOptionsPanel')">
            <mat-icon>close</mat-icon>
        </button>

    </div>

    <form [formGroup]="form">

        <!-- COLOR THEME -->
        <div class="group">

            <h2>Temas</h2>

            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="colorTheme">
                <mat-radio-button class="mb-12" value="theme-default">Padrão/Claro</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-yellow-light">Amarelo/Claro</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-blue-gray-dark">Azul-Cinza/Escuro</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-pink-dark">Rosa/Escuro</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-blue-dark">Azul/Escuro</mat-radio-button>
            </mat-radio-group>

        </div>

        <!-- LAYOUT STYLES -->
        <div class="group" formGroupName="layout">

            <h2>Layouts</h2>

            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="style">

                <mat-radio-button class="mb-12" value="vertical-layout-1">
                    Vertical #1
                </mat-radio-button>

                <mat-radio-button class="mb-12" value="vertical-layout-2">
                    Vertical #2
                </mat-radio-button>

                <mat-radio-button class="mb-12" value="vertical-layout-3">
                    Vertical #3
                </mat-radio-button>

                <mat-radio-button class="mb-12" value="horizontal-layout-1">
                    Horizontal #1
                </mat-radio-button>

            </mat-radio-group>

            <!-- DIFFERENT FORMS BASED ON LAYOUT STYLES -->
            <ng-container [ngSwitch]="fuseConfig.layout.style">

                <!-- VERTICAL LAYOUT #1 -->
                <ng-container *ngSwitchCase="'vertical-layout-1'">

                    <!-- LAYOUT WIDTH -->
                    <div class="group mt-32">

                        <h2>Tamanho da tela</h2>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
                            <mat-radio-button class="mb-12" value="fullwidth">Tela cheia</mat-radio-button>
                            <mat-radio-button class="mb-12" value="boxed">Caixa</mat-radio-button>
                        </mat-radio-group>

                    </div>

                    <!-- NAVBAR -->
                    <div class="group" formGroupName="navbar">

                        <h2>Barra de navegação</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <mat-slide-toggle class="mt-24" formControlName="folded">
                            Diminuir
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-16" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-16" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8">Variações:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
                            <mat-radio-button class="mb-16" value="vertical-style-1">Estilo 1</mat-radio-button>
                            <mat-radio-button class="mb-16" value="vertical-style-2">Estilo 2</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-16 mb-8">Cor de fundo primária:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="primaryBackground"></fuse-material-color-picker>

                        <h3 class="mt-16 mb-8">Cor de fundo secundária:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="secondaryBackground"></fuse-material-color-picker>

                    </div>

                    <!-- TOOLBAR -->
                    <div class="group" formGroupName="toolbar">

                        <h2>Barra de tarefas</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above">Acima</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below-static">Abaixo estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below-fixed">Abaixo fixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Usar cor de fundo personalizada
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="background"></fuse-material-color-picker>

                    </div>

                    <!-- FOOTER -->
                    <div class="group" formGroupName="footer">

                        <h2>Rodapé</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above">Acima</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below-static">Abaixo estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below-fixed">Abaixo fixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Usar cor de fundo personalizada
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="background"></fuse-material-color-picker>

                    </div>
<!-- 
                    SIDE PANEL
                    <div class="group" formGroupName="sidepanel">

                        <h2>Painel lateral</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-12" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                    </div> -->

                </ng-container>

                <!-- VERTICAL LAYOUT #2 -->
                <ng-container *ngSwitchCase="'vertical-layout-2'">

                    <!-- LAYOUT WIDTH -->
                    <div class="group mt-32">

                        <h2>Tamano da tela</h2>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
                            <mat-radio-button class="mb-12" value="fullwidth">Tela cheia</mat-radio-button>
                            <mat-radio-button class="mb-12" value="boxed">Caixa</mat-radio-button>
                        </mat-radio-group>

                    </div>

                    <!-- NAVBAR -->
                    <div class="group" formGroupName="navbar">

                        <h2>Barra de navegação</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <mat-slide-toggle class="mt-24" formControlName="folded">
                            Diminuir
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-16" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-16" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8">Variações:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
                            <mat-radio-button class="mb-16" value="vertical-style-1">Estilo 1</mat-radio-button>
                            <mat-radio-button class="mb-16" value="vertical-style-2">Estilo 2</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-16 mb-8">Cor de fundo primária:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="primaryBackground"></fuse-material-color-picker>

                        <h3 class="mt-16 mb-8">Cor de fundo secundária:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="secondaryBackground"></fuse-material-color-picker>

                    </div>

                    <!-- TOOLBAR -->
                    <div class="group" formGroupName="toolbar">

                        <h2>Barra de ferramentas</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posições:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above-static">Acima estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="above-fixed">Acima fixo</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below">Abaixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Usar cor de fundo personalizada
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="background"></fuse-material-color-picker>

                    </div>

                    <!-- FOOTER -->
                    <div class="group" formGroupName="footer">

                        <h2>Rodapé</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above-static">Acima estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="above-fixed">Acima fixo</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below">Abaixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Usar cor de fundo personalizada
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="background"></fuse-material-color-picker>

                    </div>

                    <!-- SIDE PANEL -->
                    <!-- <div class="group" formGroupName="sidepanel">

                        <h2>Side Panel</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-12" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                    </div> -->

                </ng-container>

                <!-- VERTICAL LAYOUT #3 -->
                <ng-container *ngSwitchCase="'vertical-layout-3'">

                    <!-- LAYOUT WIDTH -->
                    <div class="group mt-32">

                        <h2>Tamanho da tela</h2>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
                            <mat-radio-button class="mb-12" value="fullwidth">Tela cheia</mat-radio-button>
                            <mat-radio-button class="mb-12" value="boxed">Caixa</mat-radio-button>
                        </mat-radio-group>

                    </div>

                    <!-- NAVBAR -->
                    <div class="group" formGroupName="navbar">

                        <h2>Barra de navegação</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <mat-slide-toggle class="mt-24" formControlName="folded">
                            Diminuir
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-16" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-16" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8">Variações:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
                            <mat-radio-button class="mb-16" value="vertical-style-1">Estilo 1</mat-radio-button>
                            <mat-radio-button class="mb-16" value="vertical-style-2">Estilo 2</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-16 mb-8">Cor de fundo primária:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="primaryBackground"></fuse-material-color-picker>

                        <h3 class="mt-16 mb-8">Cor de fundo secundária:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="secondaryBackground"></fuse-material-color-picker>

                    </div>

                    <!-- TOOLBAR -->
                    <div class="group" formGroupName="toolbar">

                        <h2>Barra de ferramentas</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above-static">Acima estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="above-fixed">Acima fixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Usar cor de fundo personalizada
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="background"></fuse-material-color-picker>

                    </div>

                    <!-- FOOTER -->
                    <div class="group" formGroupName="footer">

                        <h2>Rodapé</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above-static">Acima estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="above-fixed">Acima fixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Usar cor de fundo personalizada
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="background"></fuse-material-color-picker>

                    </div>

                    <!-- SIDE PANEL -->
                    <!-- <div class="group" formGroupName="sidepanel">

                        <h2>Side Panel</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-12" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                    </div> -->

                </ng-container>

                <!-- HORIZONTAL LAYOUT #1 -->
                <ng-container *ngSwitchCase="'horizontal-layout-1'">

                    <!-- LAYOUT WIDTH -->
                    <div class="group mt-32">

                        <h2>Tamanho da tela</h2>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
                            <mat-radio-button class="mb-12" value="fullwidth">Tela cheia</mat-radio-button>
                            <mat-radio-button class="mb-12" value="boxed">Caixa</mat-radio-button>
                        </mat-radio-group>

                    </div>

                    <!-- NAVBAR -->
                    <div class="group" formGroupName="navbar">

                        <h2>Barra de navegação</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-16" value="top">Top</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8">Variações (Vertical):</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
                            <mat-radio-button class="mb-16" value="vertical-style-1">Estilo 1</mat-radio-button>
                            <mat-radio-button class="mb-16" value="vertical-style-2">Estilo 2</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-16 mb-8">Cor de fundo primária:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="primaryBackground">
                        </fuse-material-color-picker>

                        <h3 class="mt-16 mb-8">Cor de fundo secundária (Vertical):</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="secondaryBackground">
                        </fuse-material-color-picker>

                    </div>

                    <!-- TOOLBAR -->
                    <div class="group" formGroupName="toolbar">

                        <h2>Barra de ferramentas</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above">Above</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below">Abaixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Usar cor de fundo personalizada
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="background"></fuse-material-color-picker>

                    </div>

                    <!-- FOOTER -->
                    <div class="group" formGroupName="footer">

                        <h2>Rodapé</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above-fixed">Acima fixo</mat-radio-button>
                            <mat-radio-button class="mb-12" value="above-static">Acima estático</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Usar cor de fundo personalizada
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor:</h3>
                        <fuse-material-color-picker class="mb-16"
                                                    formControlName="background"></fuse-material-color-picker>

                    </div>

                    <!-- SIDE PANEL -->
                    <!-- <div class="group" formGroupName="sidepanel">

                        <h2>Side Panel</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Esconder
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-12" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                    </div> -->

                </ng-container>

            </ng-container>

        </div>

        <!-- CUSTOM SCROLLBARS -->
        <div class="group">

            <h2>Barra de rolagem customizada</h2>

            <mat-slide-toggle class="mb-12" formControlName="customScrollbars">
               Ativar barra de rolagem customizada
            </mat-slide-toggle>

        </div>


        <div class="group">

            <h2>Configuração Padrão</h2>

            <button mat-raised-button [ngClass]="fuseConfig.layout.toolbar.background" (click)="resetToDefaults()">
                Retornar padrão
            </button>

        </div>

    </form>

</div>
