@import "src/@fuse/scss/fuse";

anuencias-listas-novas {

    .anuencias-listas-novas {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .anuencia {
            position: relative;
            cursor: pointer;
            height: 55.45px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }
        
        .mat-column-data {
            flex: 0 1 10%;
        }
        
        .mat-column-credor {
            flex: 0 1 25%;
        }
        
        .mat-column-nomeDevedor {
            flex: 0 1 25%;
        }
        
        .mat-column-documentoDevedor {
            flex: 0 1 20%;
        }
        
        .mat-column-titulo {
            flex: 0 1 10%;
        }
        
        .mat-column-buttons {
            flex: 0 1 80px;
        }
    }
}
