

<mat-table class="anuencias-listas-novas"
           #table [dataSource]="dataSource"
           matSort
           [@animateStagger]="{value:'50'}"
           fusePerfectScrollbar>

    <ng-container matColumnDef="credor">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Credor</mat-header-cell>
        <mat-cell *matCellDef="let anuencia" fxHide fxShow.gt-md>
            <p class="text-truncate">{{anuencia.credor}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeDevedor">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Nome Devedor</mat-header-cell>
        <mat-cell *matCellDef="let anuencia" fxHide fxShow.gt-sm>
            <p class="text-truncate">{{anuencia.nomeDevedor}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="documentoDevedor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Documento Devedor</mat-header-cell>
        <mat-cell *matCellDef="let anuencia">
            <p class="text-truncate">{{anuencia.documentoDevedor}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="titulo">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Título</mat-header-cell>
        <mat-cell *matCellDef="let anuencia" fxHide fxShow.gt-sm>
            <p class="text-truncate">{{anuencia.numeroTitulo}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="data">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data</mat-header-cell>
        <mat-cell *matCellDef="let anuencia">
            <p class="text-truncate">{{anuencia.data | date:'dd/MM/yyyy'}}</p>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

    <mat-row *matRowDef="let anuencia; columns: displayedColumns;"
                class="anuencia"
                matRipple
                [routerLink]="['/anuencias/editar', anuencia.id]">
    </mat-row>

       <!-- Buttons Column -->
       <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let anuencia">
            <div fxFlex="row" fxLayoutAlign="end center">

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">

                    <button mat-menu-item aria-label="edit" [routerLink]="['/anuencias/editar', anuencia.id]">
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>

                    <button mat-menu-item aria-label="remove" (click)="excluir(anuencia)">
                        <mat-icon>delete</mat-icon>
                        <span>Excluir</span>
                    </button>
                    
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

</mat-table>

<mat-paginator #paginator
               [length]="dataSource.filteredData.length"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
