
<div [ngSwitch]="situacao">
    
    <p class="text-truncate h6 p-4 indigo"
       *ngSwitchCase="'1'">
        Nova
    </p>
    
    <p class="text-truncate h6 p-4 blue"
       *ngSwitchCase="'2'">
        Recebida
    </p>
    
    <p class="text-truncate h6 p-4 green-700"
       *ngSwitchCase="'3'">
        Aceita
    </p>
    
    <p class="text-truncate h6 p-4 red-500"
       *ngSwitchCase="'4'">
        Rejeitada
    </p>
    
    <p class="text-truncate h6 p-4 orange-800"
       *ngSwitchCase="'5'">
        Paga
    </p>
    
    <p class="text-truncate h6 p-4 grey-700"
       *ngSwitchCase="'6'">
        Cancelada
    </p>

</div>

