<div class="navbar-header" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <mat-icon class="logo-icon" svgIcon="icon_p21"></mat-icon>
        <span class="logo-text">Anuência21</span>
    </div>

    
    <button mat-icon-button class="toggle-sidebar-folded"
            (click)="toggleSidebarFolded()" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened"
            (click)="toggleSidebarOpened()" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>



<div class="navbar-content" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}"
     [ngClass]="fuseConfig.layout.navbar.primaryBackground">

     <div style="margin: -24px 0 -24px 0" class="pr-24 p-24 pt-60">
        <button mat-raised-button mat-ripple
                class="mat-accent add-todo-button"
                aria-label="ADD ANUÊNCIA">
                <div fxLayout="row">
                
                    <div >
                    
                        <mat-icon class="icon-button">add</mat-icon>
                    
                    </div>
                    
                    <div class="pt-16 button-text">Anuência</div>     
                
                </div>
        </button>
        <button mat-fab 
                class="mat-accent add-fab-button">
                <mat-icon class="icon-button">add</mat-icon>
        </button>
    </div>
    <fuse-navigation layout="vertical"></fuse-navigation>
</div>