<ng-container [formGroup]="group">

    <form [formGroup]="dateTimePickerForm"
          fxLayout="row"
          fxLayout.xs="column">

        <dynamic-material-form-control
                            [ngClass]="[getClass('element', 'control'), getClass('grid', 'control')]"
                            id="{{controlModel.id}}"
                            *ngFor="let controlModel of dateTimePickerFormModel"
                            [group]="dateTimePickerForm"
                            [model]="controlModel"
                            (blur)="onBlur($event)"
                            (change)="onChange($event)"
                            (focus)="onFocus($event)" fxFlex></dynamic-material-form-control>

    </form>

</ng-container>
