
 <mat-progress-bar *ngIf="progressBar" color="accent" mode="indeterminate"></mat-progress-bar>
<form class="anuencia-form" [formGroup]="form">
   
    <div class="content" fxFlexAlign="row">
        
        <div class="p-32" >
            <div fxLayout="row">

                <mat-form-field appearance="outline" class="mr-24" fxFlex="25">
                    <mat-label>CPF/CNPJ do Devedor</mat-label>
                    <input matInput 
                            name="documentoDevedor"
                            formControlName="documentoDevedor"
                            required
                            [mask]="maskCpfCnpj">
                    <mat-error *ngIf="form.get('documentoDevedor')?.hasError('required')">
                        O campo CPF/CNPJ é obrigatório.
                    </mat-error>
                    <mat-error *ngIf="form.get('documentoDevedor')?.hasError('validateCpf')">
                        CPF inválido.
                    </mat-error>
                    <mat-error *ngIf="form.get('documentoDevedor')?.hasError('validateCnpj')">
                        CNPJ inválido.
                    </mat-error>
                </mat-form-field> 

                <mat-form-field appearance="outline" class="mr-24" fxFlex="20">
                    <mat-label>Número do título</mat-label>
                    <input matInput 
                            name="numeroTitulo"
                            formControlName="numeroTitulo"
                            required
                            minlength="1"
                            maxlength="30">
                            <mat-error *ngIf="form.get('numeroTitulo')?.hasError('minlength')">
                                O número do título deve conter no mínimo 1 caracter.
                            </mat-error>
                            <mat-error *ngIf="form.get('numeroTitulo')?.hasError('maxlength')">
                                O número do título deve conter no máximo 30 caracteres.
                            </mat-error>
                            <mat-error *ngIf="form.get('numeroTitulo')?.hasError('required')">
                                O campo Número do Título é obrigatório.
                            </mat-error>
                </mat-form-field>
                  
                <mat-form-field appearance="outline" class="mr-12" fxFlex="50">
                    <mat-label>Cartório</mat-label>
                    <input type="text" 
                            placeholder="Informe o cartório" 
                            matInput 
                            required 
                            formControlName="cartorio" 
                            [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn">
                      <mat-option *ngFor="let cartorio of filteredOptions | async" [value]="cartorio">
                        {{cartorio.nome}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="form.get('cartorio')?.hasError('required')">
                        O campo Cartório é obrigatório.
                    </mat-error>
                </mat-form-field>

                  <!-- ADD EVENT BUTTON -->
                <button mat-mini-fab class="mt-12" aria-label="Add event"
                        [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}"
                        (click)="buscaTitulo()"
                        [disabled]="!habilitaBusca">
                    <mat-icon>search</mat-icon>
                </button>
                    
            </div>

            <div fxLayout="row">
                
                <mat-form-field appearance="outline" class="mr-24" fxFlex="25">
                        <mat-label>Valor do Título</mat-label>
                        <input matInput 
                                name="valorTitulo"
                                formControlName="valorTitulo"
                                maxlength="21"
                                currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </mat-form-field> 

                <mat-form-field appearance="outline" class="mr-24" fxFlex="37.5">
                        <mat-label>Nº do Protocolo</mat-label>
                        <input matInput 
                                name="numeroProtocolo"
                                maxlength="20"
                                formControlName="numeroProtocolo"
                                >
                </mat-form-field> 

                <mat-form-field  appearance="outline" fxFlex="37.5">
                        <mat-label>Data de Vencimento</mat-label>
                        <input matInput
                            [min]="minDate"
                            [max]="maxDate"
                            [matDatepicker]="data"
                            name="dataVencimento"
                            formControlName="dataVencimento"
                            required
                            [fedMask]="{type:'date'}">
                            <mat-error *ngIf="form.get('dataVencimento')?.hasError('required')">
                                A o campo Data de Vencimento é obrigatório.
                            </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
                        <mat-datepicker #data></mat-datepicker>
                    </mat-form-field>

            </div>
    
            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex >
                        <mat-label>Nome do Devedor</mat-label>
                        <input matInput 
                                name="nomeDevedor"
                                formControlName="nomeDevedor"
                                minlength="2"
                                maxlength="50"
                                required>
                                <mat-error *ngIf="form.get('nomeDevedor')?.hasError('minlength')">
                                    O Nome do Devedor deve conter no mínimo 2 caracteres.
                                </mat-error>
                                <mat-error *ngIf="form.get('nomeDevedor')?.hasError('maxlength')">
                                    O Nome do Devedor deve conter no máximo 30 caracteres.
                                </mat-error>
                                <mat-error *ngIf="form.get('nomeDevedor')?.hasError('required')">
                                    A o campo Nome do Devedor é obrigatório.
                                </mat-error>
                </mat-form-field> 
            </div>

            <div fxLayout="row">
    
                    <mat-form-field appearance="outline" class="mr-24" fxFlex="62.5">
                            <mat-label>Email</mat-label>
                            <input matInput
                                    name="emailDevedor"
                                    formControlName="emailDevedor"
                                    email>
                            <mat-error *ngIf="form.get('emailDevedor')?.hasError('email')">
                                O Email informado é inválido.
                            </mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" fxFlex="35.5">
                        <mat-label>Telefone</mat-label>
                        <input matInput 
                                name="telefoneDevedor"
                                formControlName="telefoneDevedor"
                                mask="(00)00000-0000"
                                >
                </mat-form-field> 

                </div>
        </div>
    </div>

        
</form>
